#productDesc {
    font-family: $main-font;
    color: $maroon;
    font-size: 40px;
    line-height: 48px;
}

#howToUse {
    font-family: $main-font;
    color: $grey;
    font-size: 25px;
    line-height: 28px;
}

#benifits {
    font-family: $main-font;
    color: $grey;
    font-size: 25px;
    line-height: 28px;
    font-style: italic;
}